@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "arial";
}

.caja-boton-video, .caja-boton {
  width: 93px;
  height: 40px;
  background-color: #fff2e2;
  color: black;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  transition: 0.5s;
}
.caja-boton-video:hover, .caja-boton:hover {
  background-color: #742620;
  width: 100px;
}

.cajas-video, .cajas {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: self-start;
  position: relative;
}

.caja {
  width: 24%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
  margin: 3px;
  overflow: hidden;
}

body {
  background-color: #fff2e2;
  max-width: 100%;
}

.navegador {
  background-color: #742620;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.navegador div {
  background-color: #742620;
  padding: 0px 25px 0px 25px;
  margin: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 556px) {
  .navegador {
    height: 80px;
  }
}
.navegador .icono-menu {
  color: #fff2e2;
  font-size: 40px;
  padding: 20px 5px;
  max-width: 20%;
  display: none;
}
.navegador .icono-menu:hover + .navegador-links {
  left: 0;
}
@media (max-width: 768px) {
  .navegador .icono-menu {
    display: block;
  }
}

.navegador-links {
  max-width: 69%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin: 0px;
}
@media (max-width: 942px) {
  .navegador-links {
    max-width: 66%;
  }
}
@media (max-width: 768px) {
  .navegador-links {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    background-color: #31120f;
    height: 100vh;
    flex-direction: column;
    transition: 0.5s;
  }
  .navegador-links:hover {
    left: 0px;
  }
}

.navegador-link {
  list-style: none;
}
.navegador-link a {
  display: block;
  padding: 20px 5px;
  color: #fff2e2;
  text-decoration: none;
  font-size: 20px;
}
.navegador-link a:hover {
  color: #000000;
}

.titulo {
  max-width: 31%;
  max-height: 60px;
  transition: width 0.5s ease;
}
@media (max-width: 942px) {
  .titulo {
    max-width: 34%;
  }
}
@media (max-width: 768px) {
  .titulo {
    max-width: 47%;
  }
}
@media (max-width: 556px) {
  .titulo {
    max-width: 76%;
  }
}
@media (max-width: 367px) {
  .titulo {
    max-width: 78%;
  }
}

.carousel-recetas {
  max-width: 1440px;
  margin: auto;
  padding: 5px 15px 5px 15px;
}

.carousel-item h5 {
  font-size: 32px;
  text-shadow: 2px 2px 3px black;
}
.carousel-item p {
  font-size: 24px;
  text-shadow: 2px 2px 3px black;
  overflow: hidden;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.carousel-indicators {
  z-index: 1;
}

.titulo-cajas {
  width: 100%;
  background: #742620;
  margin-bottom: 4px;
}

h1 {
  padding: 0px 0px 0px 20px;
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 1024px) {
  .caja {
    width: 32%;
  }
}
@media (max-width: 768px) {
  .caja {
    width: 48%;
  }
}
@media (max-width: 556px) {
  .caja {
    width: 94%;
  }
}
.caja div {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.0588235294), 0 1px 3px rgba(0, 0, 0, 0.0588235294);
  padding: 20px;
  box-shadow: 2px 6px rgba(0, 0, 0, 0.0588235294), 0 1px 3px rgba(0, 0, 0, 0.0588235294);
  background-color: #f2bd96;
  width: 99%;
}
.caja div p {
  height: 100px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 4px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.parrafo1 {
  max-width: 1440px;
  margin: auto;
  font-size: 21px;
  color: #f2bd96;
  text-align: start;
  padding: 15px 0px 15px 20px;
  text-shadow: 2px 2px 3px black;
}
@media (max-width: 992px) {
  .parrafo1 {
    padding: 18px;
  }
}
@media (max-width: 556px) {
  .parrafo1 {
    padding: 7px;
    font-size: 16px;
  }
}

.caja-titulo {
  font-weight: normal;
  overflow: hidden;
}

.caja-img {
  width: 100%;
  aspect-ratio: 7/9;
  object-fit: cover;
  border-radius: 4px;
  transition: 0.5s;
}
.caja-img:hover {
  transform: scale(1.06);
}

h1 {
  font-size: 35px;
  color: #fff2e2;
  text-align: start;
}
@media (max-width: 556px) {
  h1 {
    padding: 0px 15px;
    font-size: 29px;
  }
}
@media (max-width: 367px) {
  h1 {
    font-size: 22px;
  }
}

h4 {
  font-size: 23px;
  color: #fff2e2;
  padding: 0px 15px 0px 0px;
  z-index: 1;
}
@media (max-width: 768px) {
  h4 {
    font-size: 26px;
    padding: 8px 0px;
  }
}
@media (max-width: 556px) {
  h4 {
    font-size: 21px;
    padding: 0px;
  }
}

.caja-video {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .caja-video {
    width: 100%;
  }
}
.caja-video div {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.0588235294), 0 1px 3px rgba(0, 0, 0, 0.0588235294);
  padding: 20px;
  box-shadow: 2px 6px rgba(0, 0, 0, 0.0588235294), 0 1px 3px rgba(0, 0, 0, 0.0588235294);
  background-color: #f2bd96;
  width: 99%;
}
.caja-video div p {
  height: 100px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 4px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.caja-video iframe {
  width: 100%;
  aspect-ratio: 10/5;
  object-fit: cover;
  border-radius: 4px;
}

.galeria {
  max-width: 1440px;
  margin: auto;
  padding: 23px 15px 60px 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-template-areas: "img1 img2 img3" "img1 img4 img5";
}
@media (max-width: 992px) {
  .galeria {
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: "img1 img2 img2" "img1 img3 img3" "img4 img4 img5";
  }
}
@media (max-width: 768px) {
  .galeria {
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: "img1 img1 img1" "img2 img2 img2" "img3 img3 img3" "img4 img4 img4" "img5 img5 img5";
  }
}
@media (max-width: 556px) {
  .galeria {
    grid-template-rows: repeat(5, 370px);
  }
}
@media (max-width: 367px) {
  .galeria {
    grid-template-rows: repeat(5, 300px);
  }
}
@media (max-width: 768px) {
  .galeria {
    padding: 10px;
  }
}

.img1 {
  grid-area: img1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #fff2e2;
  text-shadow: 2px 2px 3px black;
  transition: 0.5s;
}
.img1:hover {
  transform: scale(1.06);
}
.img1 img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 768px) {
  .img1 {
    padding: 0px;
    text-align: center;
    font-size: 13px;
  }
}
@media (max-width: 556px) {
  .img1 {
    padding: 0px;
    text-align: center;
    font-size: 8px;
  }
}

.img2 {
  grid-area: img2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #fff2e2;
  text-shadow: 2px 2px 3px black;
  transition: 0.5s;
}
.img2:hover {
  transform: scale(1.06);
}
.img2 img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 768px) {
  .img2 {
    padding: 0px;
    text-align: center;
    font-size: 13px;
  }
}
@media (max-width: 556px) {
  .img2 {
    padding: 0px;
    text-align: center;
    font-size: 8px;
  }
}

.img3 {
  grid-area: img3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #fff2e2;
  text-shadow: 2px 2px 3px black;
  transition: 0.5s;
}
.img3:hover {
  transform: scale(1.06);
}
.img3 img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 768px) {
  .img3 {
    padding: 0px;
    text-align: center;
    font-size: 13px;
  }
}
@media (max-width: 556px) {
  .img3 {
    padding: 0px;
    text-align: center;
    font-size: 8px;
  }
}

.img4 {
  grid-area: img4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #fff2e2;
  text-shadow: 2px 2px 3px black;
  transition: 0.5s;
}
.img4:hover {
  transform: scale(1.06);
}
.img4 img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 768px) {
  .img4 {
    padding: 0px;
    text-align: center;
    font-size: 13px;
  }
}
@media (max-width: 556px) {
  .img4 {
    padding: 0px;
    text-align: center;
    font-size: 8px;
  }
}

.img5 {
  grid-area: img5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #fff2e2;
  text-shadow: 2px 2px 3px black;
  transition: 0.5s;
}
.img5:hover {
  transform: scale(1.06);
}
.img5 img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 768px) {
  .img5 {
    padding: 0px;
    text-align: center;
    font-size: 13px;
  }
}
@media (max-width: 556px) {
  .img5 {
    padding: 0px;
    text-align: center;
    font-size: 8px;
  }
}

footer {
  width: 100%;
  padding: 2rem 8%;
  background-color: #31120f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-height: 69px;
  margin-bottom: 1rem;
}
@media (max-width: 367px) {
  .logo {
    max-width: 100%;
  }
}

.social-icons-container, .footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 20px 0px 20px 0px;
}

.social-icon {
  margin: 1rem;
  background: linear-gradient(#ff0202, #ff00d3, #0866ff, #249ef1);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s;
}
.social-icon:hover {
  transform: rotatey(360deg);
}

.footer-menu-container {
  list-style-type: none;
  color: #fff2e2;
  font-size: 18px;
  padding: 0px;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  color: #f2f2f2;
  opacity: 0.3;
  text-align: center;
}

.main-content-contactos {
  padding: 10px;
}

.main-content-form {
  background-image: url(../img/ingredientes-hamburguesa-vista-superior-mesa-madera.jpg);
  background-size: cover;
  margin: auto;
  margin-bottom: 20px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #31120f;
}
@media (max-width: 768px) {
  .main-content-form {
    background-image: url(../img/ingredientes-hamburguesa-vista-superior-mesa-madera_2.jpg);
  }
}

@media (max-width: 768px) {
  .main-content-form {
    flex-direction: column;
  }
}
.form-contactos {
  width: 70%;
  padding: 20px;
}
.form-contactos section {
  margin-bottom: 20px;
}
.form-contactos label {
  display: block;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .form-contactos {
    width: 100%;
  }
}

.form-contactos-grupo {
  display: flex;
  flex-direction: column;
  height: 60px;
  gap: 2px;
  margin: 20px 0px;
}

.form-contactos-grupo-terminos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contactos-grupo-mensaje {
  display: flex;
  flex-direction: column;
  height: 70px;
  gap: 9px;
  margin: 20px 0px;
}

.form-contactos-grupo-genero {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  justify-content: center;
}
.form-contactos-grupo-genero input[type=radio] {
  width: 15px;
  height: 15px;
  margin: 6px 10px 0px 10px;
}
@media (max-width: 556px) {
  .form-contactos-grupo-genero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-contactos-grupo-label {
  color: #fff2e2;
}

.form-contactos-grupo-input {
  width: 100%;
  background-color: #ffebe7;
  color: #31120f;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
}
.form-contactos-grupo-input:focus {
  border: 2px solid #31120f;
  outline: none;
}
.form-contactos-grupo-input[type=email]::placeholder, .form-contactos-grupo-input[type=text]::placeholder, .form-contactos-grupo-input[type=number]::placeholder, .form-contactos-grupo-input[placeholder=Mensaje]::placeholder {
  color: black;
}

.form-contactos-boton {
  width: 100%;
  background-color: #f2bd96;
  color: #fff2e2;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.form-contactos-boton:hover {
  background-color: #31120f;
}

.portada-form {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 8/10;
  object-fit: cover;
}
@media (max-width: 768px) {
  .portada-form {
    width: 100%;
    aspect-ratio: 10/5;
  }
}

.opciones {
  margin: auto;
  max-width: 1440px;
  padding: 30px 10px;
}

.opciones-opcion {
  padding: 5px;
  color: #fff2e2;
  text-align: center;
  border-radius: 4px;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: 0.5s;
}
.img-fluid:hover {
  transform: translate(4px, -4px);
}

/*# sourceMappingURL=styles.css.map */
